// Responsive design mixins
@mixin breakpoint($size) {
    @media (min-width: $size) {
      @content;
    }
  }
  
  // Neumorphic shadow mixins
  @mixin neu($light-source: top left, $light: $neu-light-color, $dark: $neu-dark-color) {
    $h1: if(index($light-source, left), $neu-shadow-light, $neu-shadow-dark);
    $h2: if(index($light-source, left), $neu-shadow-dark, $neu-shadow-light);
    $v1: if(index($light-source, top), $neu-shadow-light, $neu-shadow-dark);
    $v2: if(index($light-source, top), $neu-shadow-dark, $neu-shadow-light);
    box-shadow: #{$h1} #{$v1} $neu-blur $dark,
                #{$h2} #{$v2} $neu-blur $light;
  }
  
  // Scale transform mixin
  @mixin apply-scale-transform($scale-factor: 0) {
    transform: scale(1.0 + $scale-factor * 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  // Contrast mixin
  @mixin contrast($color, $lightness: 20%, $darkness: 20%) {
    $light-color: lighten($color, $lightness);
    $dark-color: darken($color, $darkness);
  
    background-color: $color;
    color: $light-color;
  
    &:hover {
      background-color: $light-color;
      color: $dark-color;
    }
  
    &:active {
      background-color: $dar
  