// Screen sizes
$desktop-xs: 1024px;
$desktop-sm: 1280px;
$desktop-md: 1440px;
$desktop-lg: 1680px;
$desktop-xl: 1920px;

$mobile-xs: 360px;
$mobile-sm: 375px;
$mobile-md: 414px;
$mobile-lg: 480px;
$mobile-xl: 640px;

$tablet-xs: 601px;
$tablet-sm: 768px;
$tablet-md: 960px;
$tablet-lg: 1024px;
$tablet-xl: 1280px;

// Neumorphic settings
$neu-shadow-light: 5px;
$neu-shadow-dark: -5px;
$neu-blur: 10px;
$neu-light-color: #ffffff;
$neu-dark-color: #000000;
